* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   canvas {
    background-color: #090707;
   }
   body {
    background-color: #EEE;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
   }